<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&family=Plus+Jakarta+Sans:ital@0;1&family=Poetsen+One&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .yo {
            font-family: "Playwrite DK Loopet", cursive;
            font-optical-sizing: auto;
            font-style: normal;
        }
    </style>
</head>

<body class="bg-yellow-50 h-[200vh]">
    <div class="h-[10vh] w-full bg-slate-300 flex flex-row justify-between p-[40px] font-[gilroy] items-center">
        <div class="mx-4  text-[80px] font-extrabold hover:scale-110 duration-700 text-gray-800">REMOND</div>
        <div class="flex md:flex-row flex-col font-bold text-[30px] gap-10 mr-[60px]">
            <div class="font-extralight">All blogs</div>
            <div class="font-extralight">About</div>
            <div class="font-extralight">Contact</div>
        </div>
    </div>
    <div class="flex flex-col justify-around items-center h-[70vh] mt-[50px]">
        <div class="text-[50px] font-extralight">H O W - G R O Q- C A N - H E L P </div>
        <div class="text-[100px] yo font-medium text-center">Why talk to humans when you have LLMs?</div>
        <div class="yo text-[120px] font-extrabold">Hello , I'm <h1 class="inline text-blue-500">Groq </h1>from <h1
                class="inline text-yellow-600">2050</h1>
        </div>
    </div>
    <div class="flex md:flex-row flex-col gap-3 justify-evenly mt-[250px]">
        <div class="card h-[200px] w-1/4 bg-zinc-300 rounded-[15px]  flex items-center justify-center text-[30px] font-light yo" >A r t s </div>
        <div class="card h-[200px] w-1/4 bg-zinc-300 rounded-[15px]  flex items-center justify-center text-[30px] font-light yo" >Science  </div>
        <div class="card h-[200px] w-1/4 bg-zinc-300 rounded-[15px]  flex items-center justify-center text-[30px] font-light yo" >Business  </div>
    </div>
    <script>
document.querySelectorAll(".yo").forEach(element => {
    element.addEventListener("click", async() => {

        const query = element.textContent.trim();
        console.log(query);
        try {
            const response = await fetch(`/ask?name=${query}`);
            if (response) {
                const data = await response.json();
                console.log(data.result);
            }
        } catch (err) {
            console.log(err);
        }
    });
});
</script>
    <script src="../index.js"></script>
</body>

</html>